# maven ignore
target/
#*.jar
*.war
*.zip


classes/
#*.jar
*.war
*.zip

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

#config ignore
